body {
  color: #fff;
  background-color: var(--color3);
}

.editor-prew-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 1em;
  background-color: var(--color2);
}

.title-div h1 {
  color: #000;
}

.sub-title-div {
  background-color: #fff;
  color: #fff;
  width: 700px;
  padding: 1em;
  border: 3px solid black;
  border-bottom: none;
  margin-top: 2.5rem;
  background-color: var(--color1);
}

textarea {
  width: 700px;
  min-height: 700px;
  padding: 1.5em;
  border: 3px solid black;
  resize: vertical;
  text-decoration: none;
}
textarea:focus {
  outline: none;
}

img[alt="random_picture"] {
  width: 250px;
  width: 250px;
}

.preview-container {
  background-color: #fff;
  color: #000;
  width: 700px;
  border: 3px solid black;
  height: auto;
}

#preview {
  padding: 2.5em;
}

/* .h2-titles {
  margin-top: 2.5rem;
  align-self: flex-start;
} */

@media screen and (max-width: 1000px) {
  textarea,
  .preview-container,
  .title-div {
    width: 70%;
  }
}
