* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgba(146, 146, 146, 0.411);
}

:root {
  --color_1: #0e0e6b;
  --color_2: #b8a23c;
  --color_3: #3d3db8;
  --color_4: #ffe46e;
  --color_5: #6b5c19;
}
