#drum-machine {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 70%;
}

#display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.drum-pad-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
