body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color_4);
}

/* TITLE */
.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
  font-size: 1.5rem;
  padding: 15px;
  color: #fff;
  border: 1px solid black;
  box-shadow: 5px 5px 0 0 #000;
}

/* WRAPPER */
.calculator-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  margin: auto;
  padding: 25px 0 25px 0;
  background-color: var(--color_1);
  /* border: 5px solid #e6c653; */
  box-shadow: 15px 20px 0px 0px #e6c653b0;
}

/* DISPLAY */
#display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
}

.calc-div,
.display-div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 2rem;
  background-color: #fff;
}

.calc-div {
  height: 5rem;
  padding: 1.5rem 1rem 1.5rem 1rem;
  font-size: 2rem;
  width: 100%;
  word-break: break-word;
  height: 100%;
}

/* BUTTONS */
.buttons-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 80%;
}

.ac-btn {
  grid-column: 1 / 3;
}

.equal-btn {
  grid-column-start: 4;
  grid-row: 4 / 6;
}

.zero-btn {
  grid-column: 1 / 3;
  grid-row: 5;
}

.calc-buttons {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: 0.1s ease;
  background-color: rgb(78, 78, 78);
  color: #fff;
  border: 2px solid transparent;
}

.calc-buttons:hover {
  opacity: 0.7;
  border: 2px solid #fff;
  color: #000;
}

/* operator buttons */
.division-btn,
.multiplication-btn,
.minus-btn,
.plus-btn {
  background-color: rgb(121, 121, 121);
}

.ac-btn {
  background-color: var(--color_5);
}

.equal-btn {
  background-color: var(--color_4);
}
