/* main */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
  font-family: "Poppins", sans-serif;
}

:root {
  --color1: #5136eb;
  --color2: #eb7665;
  --color3: #654eeb;
  --color4: #ebd436;
  --color5: #42eb9c;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #eee;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30rem;
  height: 45rem;
  margin-top: 3.5rem;
  padding: 0 1.5rem 0 1.5rem;
  border-radius: 20px;
  background-color: var(--color1);
}

/* containers */
.title-div {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 1.5rem;
  background-color: var(--color1);
}

h1 {
  padding: 0.5rem;
  border-radius: 10px;
  background-color: #fff;
}

.break-session-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  background-color: var(--color1);
}

.btn-display-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 7rem;
  text-align: center;
}

#session-increment,
#session-decrement,
#break-increment,
#break-decrement {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: 0.1s ease;
}

#break-increment:active,
#break-decrement:active {
  transform: scale(0.9);
  background-color: var(--color4);
}

#session-increment:active,
#session-decrement:active {
  transform: scale(0.9);
  background-color: var(--color2);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

button {
  padding: 10px;
  cursor: pointer;
}

h3 {
  text-align: center;
  padding: 1rem;
  background-color: #fff;
}

#timer-label {
  font-size: 2rem;
  font-weight: 800;
  padding: 1.5rem;
  background-color: #fff;
}

#break-label,
#session-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 13rem;
  background-color: var(--color2);
}

#break-label {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#session-label {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--color4);
}

#break-length,
#session-length {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #fff;
  width: 5rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
}

#time-left,
#timer-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-width: 70%;
  margin-top: 1.5rem;
  background-color: #fff;
}

#timer-label {
  border-radius: 15px;
  background-color: #fff;
}

#time-left {
  font-size: 2rem;
}

/* Start - stop buttons */
.start-stop-start,
.start-stop-stop,
.reset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5rem;
  padding: 1.2rem;
  border: none;
  font-size: 1rem;
  border-radius: 25px;
  transition: 0.1s ease;
}

.start-stop-start:active,
.start-stop-stop:active,
.reset:active {
  transform: scale(0.9);
}

.reset {
  background-color: #fff;
}

.start-stop-start {
  background-color: var(--color2);
}

.start_stop:active,
.reset:active {
  transform: scale(0.9);
}

.start-stop-stop {
  background-color: var(--color5);
}

/* MEDIA QUERIESs */
/* 550px */
@media screen and (max-width: 550px) {
  .App {
    width: 27rem;
    height: 45rem;
    margin-top: 2.5rem;
    padding: 0 1rem 0 1rem;
  }

  .title-div {
    padding: 1rem;
  }

  #break-label,
  #session-label {
    padding: 5px;
    height: 15rem;
  }

  #break-length,
  #session-length {
    padding: 1rem;
    background-color: #fff;
    width: 4rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
  }

  h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 5rem;
    font-size: 1rem;
  }

  #time-left,
  #timer-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    min-width: 70%;
    margin-top: 1.5rem;
    background-color: #fff;
  }
}

/* 450px */
@media screen and (max-width: 450px) {
  .App {
    width: 22rem;
    height: 40rem;
    margin-top: 2rem;
    padding: 0 0.5rem 0 0.5rem;
  }

  .title-div {
    padding: 0.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  #break-label,
  #session-label {
    padding: 0;
    height: 12rem;
  }

  #break-length,
  #session-length {
    padding: 1.2rem;
    background-color: #fff;
    width: 3rem;
    border-radius: 1.5rem;
    font-size: 1rem;
  }

  #session-increment,
  #session-decrement,
  #break-increment,
  #break-decrement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: none;
    font-size: 0.8rem;
    border-radius: 5px;
    transition: 0.1s ease;
  }

  h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 4rem;
    font-size: 1rem;
  }

  #time-left,
  #timer-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 80%;
    margin-top: 1rem;
    background-color: #fff;
    font-size: 1.5rem;
  }
}

/* 380px */
@media screen and (max-width: 380px) {
  .App {
    width: 18rem;
    height: 35rem;
    margin-top: 1rem;
    padding: 0 1rem 0 1rem;
  }

  .title-div {
    padding: 10px;
  }

  h1 {
    font-size: 1.2rem;
  }

  #break-label,
  #session-label {
    padding: 10px;
    height: 12rem;
  }

  #break-length,
  #session-length {
    padding: 1rem;
    background-color: #fff;
    width: 3rem;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 5px;
  }

  #session-increment,
  #session-decrement,
  #break-increment,
  #break-decrement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border: none;
    font-size: 0.8rem;
    border-radius: 5px;
    transition: 0.1s ease;
  }

  h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 3rem;
    font-size: 0.8rem;
  }

  #time-left,
  #timer-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 80%;
    margin-top: 1rem;
    background-color: #fff;
    font-size: 1.2rem;
  }

  .start-stop-start,
  .start-stop-stop,
  .reset {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5rem;
    padding: 1rem;
    border: none;
    font-size: 0.8rem;
    border-radius: 25px;
    transition: 0.1s ease;
  }
}
